@page "/add-new"
@inject IBookRepository Repo
@inject NavigationManager Navigation

<PageTitle>
    Yeni Kitap Ekle
</PageTitle>

<div class="row justify-content-center">
    <div class="col-6">
        <BookForm IsEditMode="false" OnValidBookSubmit="AddBook"/>

    </div>
</div>

@code {
    // [SupplyParameterFromForm]
    // public Book Book { get; set; } = new();

    private async Task AddBook(Book book)
    {
        await Repo.AddAsync(book);
        Navigation.NavigateTo("/");
    }

}
